<% provide(:title, 'All users') %>
<h1>All Profiles</h1>

<ul class="users">
  <% @profile.each do |profile| %>

      <%# gravatar_for profile, size: 52 %>
      <%# link_to profile.name, profile %>
      <p>
  <strong></strong>
  <%= profile.username %>
</p>

    <td><%= link_to 'view profile', profile_path(profile) %></td>
  <% end %>
</ul>

