<% provide(:title, 'All users') %>
<h1>People</h1>
<br>
<div>
<ul class="users">
  <% @profile.each do |profile| %>


      <p><%= image_tag profile.user.gravatar_url %></p>
      <%# link_to profile.name, profile %>
      <p id="user">
  <strong>
  <%= profile.username %>
  <%= link_to profile_path(profile) do %><i class="fa fa-laptop"></i><% end %>
</p></strong>

    
  <% end %>
</ul>
</div>

