<div class="comments">
<h3>Comments</h3>
<h4><% @photo.comments.each do |comment| %><h4>
  <p>
    <%= current_user.profile.username %>
  </p>
  <h5><p>
    <%= comment.body %>
  </p></h5>
  <%= link_to 'remove Comment', [comment.photo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</div>