<%= form_for([@photo, @photo.comments.build]) do |f| %>
  
  <div class ="comment">
    <%= f.label :comment %></div>
    <br><br>
    <div class="box">
    <%= f.text_area :body %>
  </div>
  
  <div><p class="post">
    <%= submit_tag 'Post comment', :name => :send_message, :class => "btn pull-left"  %>  
<% end %></p></div><br><br>
