<%= form_for([@photo, @photo.comments.build]) do |f| %>
  
  <div class ="comment">
    <%= f.label :comment %></div>
    <br><br>
    <div class="box">
    <%= f.text_area :body %>
  </div>
  
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>