# <%# provide(:title, @user.profile.username) %>
# <div class="row">
#   <aside class="span4">
#     <section>
#       <h1>
#         <%#= gravatar_for @user %>
#         <%#= @user.profile.username %>
#       </h1>
#     </section>
#     <section>
#       <%#= render 'shared/stats' %>
#     </section>
#   </aside>
#   <div class="span8">
#     <%#= render 'follow_form' if signed_in? %>
#     .
#     .
#     .
#   </div>
# </div>