<h1>Listings</h1>


<table>
	<% @photos.each do |photo| %>
	  <tr>
	    <td><%= photo.title %></td>
	    <td><%= photo.text %></td>
	    <td><%= tag_names(photo) %></td>
	    <td><%= image_tag photo.image.url(:thumb) %></td>
	    
	  </tr>
	<% end %>
</table>