// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .navbar-static-top  {
	background-color: red;
	color: white;
 }

 .navbar-brand {
 	color: white;
 }