// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .name {
 	font-size: 28px;
 }

 .title {
 	font-size: 24px;
 }

 .comments h3 {
 	font-size: 20px;
 }

 .comment {
 	font-size: 22px;
 }

 .box {
 	padding-left: 0;
 }

 .stats a {
 	border-left: 2px black;
 }

 #image {
 	padding-left: 105px;
 	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
 }

 #add {
 	padding-left: 105px;
 }

 form {
 	font-size: 16px;
 }

 h2 { 
 	padding-left: 0px;
 	color: #FF6600;
 }

 h2 p {
 	color: black;
 	padding-left: 105px;
 }
