// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .name {
 	font-size: 28px;
 }

 .title {
 	font-size: 24px;
 }

 .comments h3 {
 	font-size: 20px;
 }

 .comment {
 	font-size: 22px;
 }

 .box {
 	padding-left: 0;
 }

 
